<html lang="en">
<head>
    <% include ../partials/header %>
</head>
<body class="container">
  <div class="ui ten column centered grid">
    <div class="two column centered row">
      <div class="column">
        <form class="ui form" action="/result" method="post">
          <div class="field">
            <input type="text" name="url" placeholder="Enter Github repo URL">
          </div>
          <button class="ui button" type="submit">Submit</button>
        </form>
      </div>
    </div>
  </div>
</body>
</html>
